body{
  background-color: burlywood;
  color: rgb(89, 33, 42);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#passenger-btn{
  background-color: green;
}

#save-btn{
  background-color: crimson;
}